// Define variables for your color scheme

// Main Colors

// primary
$pink: #ff0266;
$pink-variant: #ff7597;

// secondary
$yellow: #fcf63f;
$yellow-variant: #fffb8c;

// accent
$lightblue: #8be9fd;

// Backgrounc Colors
$bg-body: #010012;
$bg-shade-1: #181726;
$bg-shade-2: #282738;
$bg-shade-3: #373647;
$bg-shade-4: #4b495c;

// Font Colors
$white: #ffffff;
$white-1: #dedede;
$lightgray: #999999;
$disabled: #616161;

// category colors?
$red: #ff5555;
$orange: #fd9982;
$green: #7cfa50;
$turquoise: #50fabc;
$purple: #bb86fc;
$blue-purple: #85a2ff;
