.my-message {
  background-color: $bg-shade-2;
  padding: 10px 20px 5px 20px;
  margin-bottom: 20px;
  border-radius: 20px 10px 1px 15px; /* top left, top right, bottom right, bottom left */
}

.buddy-message {
  background-color: $bg-shade-4;
  padding: 10px 20px 5px 20px;
  margin-bottom: 20px;
  border-radius: 20px 10px 15px 5px; /* top left, top right, bottom right, bottom left */
}

.left {
  display: flex;
}

.right {
  display: flex;
  flex-direction: row-reverse;
}
