.my-message {
  background-color: $bg-shade-2;
  padding: 10px 20px 5px 20px;
  margin-bottom: 20px;
  border-radius: 20px 10px 1px 15px; /* top left, top right, bottom right, bottom left */
  max-width: 80%;
  overflow-wrap: break-word;
}

.buddy-message {
  background-color: $bg-shade-4;
  padding: 10px 20px 5px 20px;
  margin-bottom: 20px;
  border-radius: 20px 10px 15px 5px; /* top left, top right, bottom right, bottom left */
  max-width: 80%;
  overflow-wrap: break-word;
}

.left {
  display: flex;
}

.right {
  display: flex;
  flex-direction: row-reverse;
}

.chatroom-box {
  border: 1px solid $pink;
  border-radius: 8px;
  padding: 10px 30px 20px 30px;
}

@media(max-width: 768px) {
  .col-12 {
    max-width: 90%;
  }

}
