.contract-box {
  background-color: transparent;
  min-height: 500px;
  margin: 40px 80px 20px 80px;
  border-radius: 8px;
  border: 4px solid $pink-variant;
}

.contract-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  background-color: transparent;
}

.user-contract {
  background-color: $bg-shade-1;
  margin: 40px 0 40px 60px;
  padding: 20px 40px 20px 40px;
  border-radius: 8px;
}

.buddy-contract {
  background-color: $bg-shade-1;
  margin: 40px 60px 40px 0;
  padding: 20px 40px 20px 40px;
  border-radius: 8px;
}

.contract-heading {
  padding-top: 0px;
}

.contract-skull {
  height: 80px;
  padding-top: 30px;
}

.contract-brand-name {
  color: $pink;
  font-family: 'VT323', monospace;
  font-size: 30px;
}

.contract-header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.em-text {
  color: $pink-variant;
}

.image-box {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.contract-mission-box {
  border-bottom: 2px solid $bg-shade-3;
  border-top: 2px solid $bg-shade-3;
}


.contract-heading-mission {
  font-size: 20px;
}

.contract-promise {
  margin-top: 30px;
}

.contract-timeframe-box {
  display: flex;
  margin-top: 30px;
}
.contract-timeframe {
  border: 1px solid $yellow-variant;
  border-radius: 8px;
  padding: 2px 8px 2px 8px;
  color: $yellow-variant;
}

.contract-signed {
  margin-top: 20px;
}

.contract-icon {
  height: 40px;
}

@media(max-width: 768px) {
  .contract-box {
    margin: 10px;
    border: 2px solid $pink-variant;
  }

  .contract-heading {
    font-size: 24px;
    padding: 0 12px;
  }

  .contract-brand-name {
    font-size: 18px;
  }

  .contract-grid {
    grid-template-columns: 1fr;
  }

  .user-contract {
    margin: 0px 14px 0 14px;
    padding: 14px 24px 14px 24px;
  }

  .buddy-contract {
    margin: 0px 14px 0 14px;
    padding: 14px 24px 14px 24px;
  }

  .contract-timeframe {
    font-size: 12px;
  }

  .contract-mission-description {
    font-size: 14px;
  }
}

@media(min-width: 769px) and (max-width: 992px) {
  .contract-box {
    margin: 10px 16px;
    border: 3px solid $pink-variant;
  }

  .contract-grid {
    grid-gap: 20px;
  }

  .user-contract {
    margin: 0px 0px 0 14px;
    padding: 14px 18px 14px 18px;
  }

  .buddy-contract {
    margin: 0px 14px 0 0px;
    padding: 14px 18px 14px 18px;
  }
}
