.contract-box {
  background-color: transparent;
  min-height: 500px;
  margin: 40px 80px 20px 80px;
  border-radius: 8px;
  border: 4px solid $pink-variant;
}

.contract-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  background-color: transparent;
}

.user-contract {
  background-color: $bg-shade-1;
  margin: 40px 0 40px 60px;
  padding: 20px 40px 20px 40px;
  border-radius: 8px;
}

.buddy-contract {
  background-color: $bg-shade-1;
  margin: 40px 60px 40px 0;
  padding: 20px 40px 20px 40px;
  border-radius: 8px;
}

.contract-heading {
  padding-top: 0px;
}

.contract-skull {
  height: 80px;
  padding-top: 30px;
}

.contract-brand-name {
  color: $pink;
  font-family: 'VT323', monospace;
  font-size: 30px;
}

.contract-header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.em-text {
  color: $pink-variant;
}

.image-box {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.contract-mission-box {
  border-bottom: 2px solid $bg-shade-3;
  border-top: 2px solid $bg-shade-3;
}


.contract-heading-mission {
  font-size: 20px;
}

.contract-promise {
  margin-top: 30px;
}

.contract-timeframe-box {
  display: flex;
  margin-top: 30px;
}
.contract-timeframe {
  border: 1px solid $yellow-variant;
  border-radius: 8px;
  padding: 2px 8px 2px 8px;
  color: $yellow-variant;
}

.contract-signed {
  margin-top: 20px;
}
