.column-one {
//    display: flex;
    //justify-content: space-evenly;
    //flex-direction: column;
    //border: 1px solid red;
  }

  .column-two {
    //display: flex;
    //justify-content: space-evenly;
    //flex-direction: column;
    //border: 1px solid red;
  }

  .dashboard-grid {
    background-color: #181726;
    margin-top: 30px;
    // border: 1px solid $lightblue;
    border-radius: 8px;
    padding: 10px 5px 10px 20px;
    border-right: 1px solid $bg-shade-3;
    padding-right: 20px;
  }

  .dashboard-index-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
  }