.index-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}

.mission-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #181726;
  grid-gap: 30px;
  margin-top: 30px;
  // border: 1px solid $lightblue;
  border-radius: 8px;
  padding: 10px 5px 10px 20px;
  min-height: 290px;
  position: relative;
}

.time-category {
  display: flex;
  margin-top: 10px;
}

.timeframe {
  border: 1px solid $yellow-variant;
  border-radius: 8px;
  padding: 2px 8px 2px 8px;
  color: $yellow-variant;
  margin-left: 20px;
}

.category {
  border: 1px solid $pink-variant;
  border-radius: 8px;
  padding: 2px 8px 2px 8px;
  color: $pink-variant;
}

.mission-box {
  border-right: 1px solid $bg-shade-3;
  padding-right: 20px;
}

.user-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
  h4 {
    margin-top: 20px;
  }
}

// Mission index responsive with 2 media queries

@media(max-width: 768px) {
  .index-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .timeframe {
    font-size: 12px;
    margin-left: 0px;
  }

  .category {
    font-size: 12px;
  }

  .heading-24-spaced {
    font-size: 20px;
  }

  .light {
    font-size: 14px;
  }

  .user-mission-card-title {
    font-size: 20px;
  }

  .user-address {
    font-size: 12px;
  }

  .time-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
}


@media(min-width: 769px) and (max-width: 992px) {
  .index-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
