.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-top: 30px;
}

.mission-grid {
  // display: grid;
  // grid-template-columns: 2fr 1fr;
  background-color: #181726;
  // grid-gap: 30px;
  // margin-top: 30px;
  border-radius: 8px;
  // padding: 10px 5px 10px 20px;
  position: relative;
}

.mission-complete {
  background-color: #181726;
  border-radius: 8px;
  padding: 10px 20px 0px 20px;
  & h2 {
    font-size: 24px;
  }
}

.mission-grid-dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #181726;
  grid-gap: 30px;
  margin-top: 30px;
  border-radius: 8px;
  padding: 10px 5px 10px 20px;
  min-height: 290px;
  position: relative;
}

.time-category {
  display: flex;
  margin-top: 10px;
}

.timeframe {
  border: 1px solid $yellow-variant;
  border-radius: 8px;
  padding: 2px 8px 2px 8px;
  color: $yellow-variant;
  margin-left: 16px;
  font-size: 12px;
}

.category {
  border: 1px solid $pink-variant;
  border-radius: 8px;
  padding: 2px 8px 2px 8px;
  color: $pink-variant;
  font-size: 12px;
}

.mission-box {
  border-bottom: 1px solid $bg-shade-3;
  // padding-right: 20px;
  min-height: 170px;
}

.user-box {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;
  // padding-right: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  h4 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  p {
    margin: 0px;
    padding: 0px;
  }
}

.user-info {
  padding-left: 15px;
}

.user-address {
  font-size: 14px;
}

.buddy-intro {
  width: 70%;
}

// Mission index responsive with 2 media queries

@media(max-width: 768px) {
  .index-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .mission-grid {
    grid-template-columns: 1fr;
  }

  .mission-box {
    border-bottom: 1px solid $bg-shade-3;
    border-right: none;
    padding-right: 20px;
  }

  .timeframe {
    font-size: 12px;
    // margin-left: 0px;
  }

  .category {
    font-size: 12px;
  }

  .heading-24-spaced {
    font-size: 20px;
  }

  .light {
    font-size: 14px;
  }

  .user-mission-card-title {
    font-size: 20px;
  }

  .user-address {
    font-size: 12px;
  }
}


@media(min-width: 769px) and (max-width: 992px) {
  .index-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.filter-options {
  margin-top: 30px;
  background-color: transparent;
  // padding: 10px 5px 10px 20px;
  // border-radius: 8px;
  height: fit-content;
}

.filter-category {
  background-color: $bg-shade-1;
  padding: 20px;
  border-radius: 8px;
}

.filter-timeframe {
  background-color: $bg-shade-1;
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-button {
  border-radius: 8px;
  background-color: $bg-shade-2;
  padding: 15px 25px;
  margin: 10px;
  color: $white-1;
  transition: color 0.3s ease;
  &:hover {
    text-decoration: none;
    color: $white-1;
    border: 1px solid $white-1;
  }
}
