.mission-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
}

.mission-card {
  background-color: $bg-shade-1;
  padding: 20px;
  & p {
    font-weight: lighter;
  }
}

.mission-user-box {
  background-color: $bg-shade-1;
  padding: 20px;
   & p {
    font-weight: lighter;
  }
}

.contract-info-box {
  background-color: $bg-shade-1;
  padding: 20px;
  & p {
    font-weight: lighter;
  }
  & a {
    font-size: 20px;
    color: $pink-variant;
    &:hover {
      color: $pink;
      text-decoration: none;
    }
  }
  & span {
    color: $pink-variant;
  }
}

.mission-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-user-about {
  // padding: 10px 40px 10px 40px;
  text-align: center;
}
