.mission-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}

.mission-card {
  background-color: $bg-shade-1;
  padding: 20px;
  & p {
    font-weight: lighter;
  }
  border-radius: 8px;
}

.mission-user-box {
  background-color: $bg-shade-1;
  padding: 20px;
   & p {
    font-weight: lighter;
  }
  border-radius: 8px;
}

.contract-info-box {
  background-color: $bg-shade-1;
  padding: 20px;
  & p {
    font-weight: lighter;
  }
  & span {
    color: $pink-variant;
  }
  border-radius: 8px;
}

.contract-info-box-bordered {
  background-color: $bg-shade-1;
  padding: 20px;
  border: 2px solid $pink-variant;
  & p {
    font-weight: lighter;
  }
  & span {
    color: $pink-variant;
  }
  border-radius: 8px;
}

.contract-link {
  color: $pink-variant;
  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

.contract-link-large {
  font-size: 20px;
  font-weight: lighter;
  color: $pink-variant;
  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

.contract-link-large-yellow {
  font-size: 20px;
  font-weight: lighter;
  color: $yellow-variant;
  margin-left: 20px;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

.mission-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-user-about {
  // padding: 10px 40px 10px 40px;
  text-align: center;
}

.contact-buddy-box {
  background-color: $bg-shade-1;
  padding: 20px;
  & p {
    font-weight: lighter;
  }
  & a {
    font-size: 20px;
    color: $pink-variant;
    padding: 0px;
    &:hover {
      color: $pink;
      text-decoration: none;
    }
  }
  & span {
    color: $pink-variant;
  }
  border-radius: 8px;
}

.link-contract-box {
  margin-top: 100px;
  color: red;
}

.contract-decline{
  border: 1px solid $yellow-variant;
  border-radius: 8px;
  padding: 2px 8px 2px 8px;
  color: $yellow-variant;
  width: fit-content;
}
