<div class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div>
        <%= link_to "Contact Us", contact_path, class: "footer-links" %>
        <%= link_to "Terms of Use", contact_path, class: "footer-links" %>
        <%= link_to "Privacy Policy", contact_path, class: "footer-links" %>
      </div>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>
