<div class="footer">
  <div class="container">
    <div class="footer-content">
      <div>
        <a class="footer-links" href="#">Privacy Policy</a>
        <a class="footer-links" href="#">Terms of Use</a>
        <a class="footer-links" href="#">Contact Us</a>
      </div>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>
