<div class="container">
  <div class="space-mt-40"></div>
  <%= link_to 'Back', 'javascript:history.back()', class:"back-link" %>
  <div class="space-mt-20"></div>
  <h1>About Us</h1>
  <p class="intro-text">
  Filing tax returns. <br>
  Deep cleaning the oven.<br>
  Calling that annoying relative you don't like.<br>
  Going to the dentist.<br>
  Finally clearing out the the basement.<br>
  ...
  </p>
  <p class="light-20">
  We all probably have a lot of things in our life that we know we have to do eventually but we always put off.<br>
  Again and again and again.
  And even though some things are quite important, we just can't get started.
  </p>
  <p class="take-action">But no longer: Now is the time to change your life. And we are here to help.</p>
  <div class="method-box">
    <h2 class="about-heading">Our method</h2>
    <p class="light-20">
    Our method is based on the results of numerous studies
    on overcoming bad habits.<br>
    Together with leading psychologists, we developed our now very successfull program.<br>
    In addition to a clear goal,
    commitment and having someone to support you along the process are
    important success factors.<br>
    We help you find like-minded people to finally get your shit together, all while
    empowering you to help yourself.
    </p>
  </div>
  <div class="method-box">
    <h2 class="about-heading">Who we are</h2>
    <p class="light-20">We founded "Everybody hates this" to help us and others.<br>
    We are here for all the procrastinators out there who want to change their bad ways and have some fun on the way.</p>
  </div>
  <div class="founder-box">
    <div class="founder">
      <%= image_tag "franziska.png", class:"avatar-huge" %>
      <h5>Franziska</h5>
      <p>"Everybody hates this has changed many lives – including mine."</p>
    </div>
    <div class="founder">
      <%= image_tag "marco.png", class:"avatar-huge" %>
      <h5>Marco</h5>
      <p>"I wish this App would have existed sooner..."</p>
    </div>
     <div class="founder">
      <%= image_tag "isabel.jpg", class:"avatar-huge" %>
      <h5>Isabel</h5>
      <p>"If we can get our shit together, so can you."</p>
    </div>
  </div>
<div class="space-mt-40"></div>
</div>
