<% content_for :meta_title, "EHT | Contact" %>

<div class="container">
  <div class="space-mt-40"></div>
  <div class="breadcrumbs-box">
  <%= link_to root_path, class:"crumb" do %>
    <i class="fas fa-home"></i>
  <% end %>
  <span>&nbsp;/&nbsp; Contact</span>
  </div>
  <div class="space-mt-40"></div>
  <div>
    <h1>Hi there! </h1>
    <p class="light">Unfortunately, "Everyody Hates This" is <em>not</em> a real web app.</p>
    <p class="light">Well, it is real in the sense that it looks and works great. But it is just a project developed during a coding bootcamp at <a href="https://www.lewagon.com/" class="link">Le Wagon Coding School</a>.</p>
    <h5>If you are or know an investor and think that this app should absolutely definitely exist in real life, please just let us know and send an email to buero@franziska-lantermann.de </h5>
    <p class="light">In the meantime: We hope you get your shit together anyways. We believe in you! </p>
  </div>
</div>
