<div class="container">
  <div class="banner">
    <h1 class="title">EVERYBODY HATES THIS</h1>
    <h2 class="subline">Get your shit together. Together.</h2>
    <p>  <%= link_to "Now", new_mission_path, class:"button-home" %> </p>
  </div>


  <div class="home-teaser-box">
    <div class="home-teaser-card">
      <%= image_tag "mission-2.png", class: "home-teaser-skull" %>
      <h4>Start a mission</h4>
      <p class="home-teaser-text">
        Your mission is the starting point for your journey.
        Whether private or professional, you decide which task
        you want to accomplish.
        </p>
    </div>
    <div class="home-teaser-card">
      <%= image_tag "fists-2.png", class: "home-teaser-skull" %>
      <h4>Find a buddy</h4>
      <p class="home-teaser-text">Your buddy will support you throughout the entire process
      by staying in touch, encouragement and
      maybe even helping with small things.</p>
    </div>
    <div class="home-teaser-card">
      <%= image_tag "contract-4.png", class: "home-teaser-skull" %>
      <h4>Commit, commit, commit</h4>
      <p class="home-teaser-text">
      Commitment is the key to success: You and your buddy digitally sign a contract
      that morally commits you to completing your missions.</p>
    </div>
  </div>
</div>
