.button-home {
  font-size: 32px;
  color: $pink-variant;
  border: 4px solid $pink-variant;
  border-radius: 8px;
  background-color: transparent;
  padding: 10px 60px 10px 60px;
  transition: color 0.3s ease;
  &:hover {
    color: $pink;
    text-decoration: none;
    border: 6px solid $pink;
  }
}

.button-center {
  text-align: center;
}

.btn-sign-up {
  font-size: 20px;
  color: $pink-variant;
  border-radius: 8px;
  border: 1px solid $pink-variant;
  padding: 5px 50px 5px 50px;
  text-align: center;
  margin-bottom: 20px;
  transition: color 0.3s ease;
   &:hover {
    color: $pink;
    text-decoration: none;
    border: 2px solid $pink;
  }
}


.btn-pink-variant {
  font-size: 20px;
  background-color: transparent;
  color: $pink-variant;
  border-radius: 8px;
  border: 1px solid $pink-variant;
  padding: 5px 30px 5px 30px;
  text-align: center;
  margin-bottom: 20px;
  transition: color 0.3s ease;
   &:hover {
    color: $pink;
    text-decoration: none;
    border: 2px solid $pink;
  }
}

.btn-pink-dashboard {
  font-size: 20px;
  background-color: transparent;
  color: $pink-variant;
  border-radius: 8px;
  border: 1px solid $pink-variant;
  padding: 5px 0px 5px 0px;
  text-align: center;
  margin-bottom: 20px;
  transition: color 0.3s ease;
   &:hover {
    color: $pink;
    text-decoration: none;
    border: 2px solid $pink;
  }
}