.button-home {
  font-size: 32px;
  color: $pink-variant;
  border: 4px solid $pink-variant;
  border-radius: 8px;
  background-color: transparent;
  padding: 10px 60px 10px 60px;
  transition: color 0.3s ease;
  margin-bottom: 30px;
  &:hover {
    color: $pink;
    text-decoration: none;
    border: 6px solid $pink;
  }
}

.button-center {
  text-align: center;
}

.btn-sign-up {
  font-size: 20px;
  color: $pink-variant;
  border-radius: 8px;
  border: 1px solid $pink-variant;
  padding: 5px 50px 5px 50px;
  text-align: center;
  margin-bottom: 20px;
  transition: color 0.3s ease;
   &:hover {
    color: $pink;
    text-decoration: none;
    border: 2px solid $pink;
  }
}


.btn-pink-variant {
  font-size: 20px;
  background-color: transparent;
  color: $pink-variant;
  border-radius: 8px;
  border: 1px solid $pink-variant;
  padding: 5px 30px 5px 30px;
  text-align: center;
  margin-bottom: 20px;
  transition: color 0.3s ease;
   &:hover {
    color: $pink;
    text-decoration: none;
    border: 2px solid $pink;
  }
}

.btn-pink-dashboard {
  font-size: 20px;
  background-color: transparent;
  color: $pink-variant;
  border-radius: 8px;
  border: 1px solid $pink-variant;
  padding: 5px 0px 5px 0px;
  text-align: center;
  margin-bottom: 20px;
  transition: color 0.3s ease;
   &:hover {
    color: $pink;
    text-decoration: none;
    border: 2px solid $pink;
  }
}

.button-position {
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.mission-accomplish{
  margin-top: 20px;
  color: $yellow-variant;
  font-size: 16px;
  border: 1px solid $yellow-variant;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

.btn-chat-dashboard {
  font-size: 20px;
  background-color: transparent;
  color: $lightblue;
  border-radius: 8px;
  border: 1px solid $lightblue;
  padding: 5px 15px 5px 15px;
  text-align: center;
  transition: color 0.3s ease;
   &:hover {
    color: $lightblue-variant;
    text-decoration: none;
    border: 1px solid $lightblue-variant;
  }
}
