#category {
  color: $white-1;
  font-size: 20px;
  background-color: $bg-shade-1;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  margin-right: 15px;
}

#timeframe {
  color: $white-1;
  font-size: 20px;
  background-color: $bg-shade-1;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  margin-right: 15px;
}
