.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: $bg-shade-1;
   color: $pink-variant;
   & .container {
     margin-top: 30px;
     margin-bottom: 20px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 40px;
   }
}

.footer-title {
  font-family: "VT323", monospace;
  font-size: 25px;
}
