.footer {
   background-color: $bg-shade-1 !important;
   margin-top: 40px;
   & .footer-container {
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 25px;
     padding-right: 15px;
   }
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  font-size: 14px;
  padding-right: 30px;
  color: $white-1;
  transition: color 0.5s ease;
  &:hover {
    color:white;
    text-decoration: none;
  }
}

.page-container {
display: grid;
grid-template-rows: auto 1fr auto;
min-height: 100vh;
}

.social-links {
  & a {
    color: $pink-variant;
    font-size: 20px;
    padding-right: 20px;
    transition: color 0.5s ease;
    &:hover {
      color: $pink;
      text-decoration: none;
    }
  }

}
