.form-control.input-line {
  background-color: $bg-shade-1;
  color: $white-1;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus {
    background-color: $bg-shade-2;
    color: white;
    border: 1px solid white;
    box-shadow: none;
  }
}

.form-header {
  font-size: 40px;
  margin-top: 40px;
  color: $pink-variant;
}

.form-intro {
  font-size: 20px;
  font-weight: lighter;
}

.form-control.is-valid {
  border-color: $pink-variant;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23dedede' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  &:focus {
    border-color: $pink;
    box-shadow: none;
  }
}

.form-actions {
  margin-top: 0px;
}

.upload-photo {
  border: 1px solid $white-1;
  padding:  5px 10px 5px 10px;
  background-color: $bg-shade-1;
  margin-top: 10px;
  border-radius: 3px;
  &:hover {
    background-color: $bg-shade-2;
    color: white;
    border: 1px solid white;
    box-shadow: none;
  }
}

.form-inputs.form-bottom {
  margin-bottom: -20px;
}

.login {
  color: $yellow-variant;
  transition: color 0.5s ease;
  &:hover {
    text-decoration: none;
    color: $yellow;
  }
}

.bottom-space {
  margin-top: 40px;
}

.back-link {
  color: $lightblue;
  &:hover {
    text-decoration: none;
    color: $lightblue-variant;
  }
}
