.light-20 {
  font-size: 20px;
  font-weight: lighter;
}

.light {
  font-weight: lighter;
}

.heading-40-pink-variant {
  font-size: 40px;
  color: $pink-variant;
}

.heading-40-yellow-variant {
  font-size: 40px;
  color: $yellow-variant;
}

.heading-40-lightblue-variant {
  font-size: 40px;
  color: $lightblue-variant;
}

.heading-40-lightblue {
  font-size: 40px;
  color: $lightblue;
}

.heading-40-yellow {
  font-size: 40px;
  color: $yellow;
}

.heading-40-pink {
  font-size: 40px;
  color: $pink;
}

.heading-30-pink-variant {
  font-size: 30px;
  color: $pink-variant;
}

.heading-30-yellow-variant {
  font-size: 30px;
  color: $yellow-variant;
}

.heading-30-lightblue-variant {
  font-size: 30px;
  color: $lightblue-variant;
}

.heading-30-lightblue {
  font-size: 30px;
  color: $lightblue;
}

.heading-30-yellow {
  font-size: 30px;
  color: $yellow;
}

.heading-30-pink {
  font-size: 30px;
  color: $pink;
}

.heading-24-spaced {
  font-size: 24px;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.pink {
  color: $pink-variant;
  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

.blue {
  color: $lightblue-variant;
}

.center {
  text-align: center;
}

.back-link {
  color: $lightblue-variant;
  &:hover {
    color: $lightblue;
    text-decoration: none;
  }
}
