.light-20 {
  font-size: 20px;
  font-weight: lighter;
}

.heading-40-pink-variant {
  font-size: 40px;
  color: $pink-variant;
}

.heading-40-yellow-variant {
  font-size: 40px;
  color: $yellow-variant;
}

.heading-40-lightblue-variant {
  font-size: 40px;
  color: $lightblue-variant;
}

.heading-40-lightblue {
  font-size: 40px;
  color: $lightblue;
}

.heading-40-yellow {
  font-size: 40px;
  color: $yellow;
}

.heading-40-pink {
  font-size: 40px;
  color: $pink;
}

.pink {
  color: $pink-variant;
}
