.space-mt-40 {
  margin-top: 40px;
}

.space-mt-30 {
  margin-top: 30px;
}

.space-mt-20 {
  margin-top: 20px;
}

.space-mb-40 {
  margin-bottom: 40px;
}

.space-mb-30 {
  margin-bottom: 30px;
}

.space-mb-20 {
  margin-bottom: 20px;
}
