<div class="container mt-5">
  <div>
    <h1>Start a new mission</h1>
  </div>

  <% if current_user.missions.length > 0 %>
    <p>Sorry, but you can only work on one mission at a time.</p>
  <% else %>
    <p>You want to get your shit together? That is great! Based on numerous studies on the human condition, we have built our philosophy of one mission at a time.  Getting started will take a few minutes, so don't rush it. You can always save the mission and come back later.</p>
    <%= render "form" %>
  <% end %>
</div>
